@model Project_Store.Models.appointment

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<div>
    <h4>Cita</h4>
    <hr />
    <table class="striped">
        <thead>
            <tr>
                <th>Fecha Cita</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@Html.DisplayFor(model => model.date)</th>
            </tr>
        </tbody>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row center">
            <div class="col s12 m12 l12">
                <button class="btn waves-effect waves-light center" type="submit" value="Delete">Eliminar<i class="material-icons right">delete</i></button> |
                @Html.ActionLink("Volver a la Lista", "Index")
            </div>
        </div>
    }
</div>
