@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<div class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/StyleIcons/adidas.jpg" />  <!-- random image -->
            <div class="caption center-align">
                <h3>XJA Store</h3>
                <h5 class="light grey-text text-lighten-3">Vive Tu Estilo</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/StyleIcons/hombre.jpg" /> <!-- random image -->
        </li>
        <li>
            <img src="~/Content/StyleIcons/cahquet.jpg" /> <!-- random image -->
            <div class="caption right-align">
                <h3>Tu Mejor Estilo</h3>
            </div>
        </li>
        <li>
            <img src="~/Content/StyleIcons/mujer.png" /><!-- random image -->
        </li>
        <li>
            <img src="~/Content/StyleIcons/nike.jpg" /> <!-- random image -->
        </li>
        <li>
            <img src="~/Content/StyleIcons/jean.png" /><!-- random image -->
            <div class="caption center-align">
                <h3>Visitanos</h3>
            </div>
        </li>
    </ul>
</div>
